@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', Arial, sans-serif;
}
body {
    background: url(images/bg.png);
    margin: 0;
    padding: 0;
}
nav {
    margin-bottom: 0 !important;
    box-shadow: 0px 0px 10px #000;
   
}
    .nav>li {
        border-right: 1px solid #e6e6e7;
        transition: all .5s;
        border-bottom: 3px solid #eee;
    }
    .nav>li:hover {
        color: #007fff;
        font-weight: bold;
        border-bottom-color: #007fff;
    }
    .nav>li:first-child{
        border-left: 1px solid #eee
    }
.navbar-default{
     border-radius: 0;
}
.navbar-header {
    border-bottom: 3px solid #eee;
}
.nav.navbar-nav.navbar-right li:last-child{
    border-right: none;
    cursor:pointer;
    transition: all .5s;
}
.page-header{
    
    margin: 15px auto;
    border-bottom: 2px solid #e6e6e7;
}
    .page-header h1{
        margin: 5px;
        text-align: center;
        color: #233C78;
        font-weight: bold;
    }
.panel-default {
    border-radius: 0;
}
.panel-default>.panel-heading {
    background: #233C78;
    color: #FFF;
    padding-left: 10px;
    border-radius: 0;
}
    .panel-default>.panel-heading h3{
        margin-bottom: 0;
        margin-top: 0;
        text-align:center;
        font-size: 14pt;
        text-transform: uppercase;
    }
    .panel-default>.panel-heading h3 span {
        float: right;
        cursor: pointer;
        margin-left: 10px;
    }
    .panel-default>.panel-heading h3 span:hover {
        color: #007fff;
    }
.panel-default>.panel-body{
    background: #E2E2E2;
    color: #000;
}
.input-group-addon {
    border: 2px solid #aaa;
}


.btn, .ajs-button {
    
    border-radius: 0;
    border: 1px solid #c5c5c5;
    outline: none;
    transition: all ease 0.5s;
    text-transform: uppercase;
}
.btn-default{
    background: #E6E6E7;
    color: #233C78;
}
.btn-primary
{
    background: #233C78;
    color: #E6E6E7;
}
.btn-default:hover, .ajs-button:hover{
    background: #FFF;
    color: #007fff;
    border-color: #007fff;
}
.ajs-cancel {
    color: #b41111;
}
.ajs-cancel:hover{
    color: #b41111;
    border-color: #b41111;
}
/* JqGrid */
.ui-jqgrid .ui-jqgrid-titlebar {
    height: 25px;
}
.ui-jqgrid .ui-jqgrid-caption {
    text-align:center;
}
.ui-jqgrid-bdiv{
    background: transparent;
}
.ui-jqgrid {
    width: 100% !important;
    border-left: 1px solid #233C78 !important;
    border-right: 1px solid #233C78 !important;
    border-top: 1px solid #233C78 !important;
    border-bottom: 1px solid #233C78 !important;
}

.ui-jqgrid-pager {
    border-top: 1px solid #233C78;
}



.ui-state-highlight { background: #efefef !important; color: #233C78 !important; }
.ui-jqgrid-htable,
.ui-jqgrid-pager,
.ui-jqgrid-bdiv,
.ui-jqgrid-hdiv,
.ui-jqgrid-hbox,
.ui-row-ltr,
.ui-jqgrid-view,
.ui-jqgrid { max-width: 100% !important; width:100% !important; }

.ui-jqgrid-htable { padding-right: 17px !important; }
.ui-jqgrid-btable { padding-right: 17px !important; width:calc(100%) !important; max-width: 100% !important;}
.ui-jqgrid-hbox { padding-right: 0 !important; }
.ui-jqgrid-btable tr { padding-right: 17px !important; width:calc(100%)!important }

.ui-dialog-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
}
.ui-datepicker{
    z-index: 300 !important;
}
/* Input */

input.form-control, select.form-control, textarea.form-control {
    border-radius: 0;
    border: 2px solid #aaa;
    box-sizing: padding-box;
    resize:none;
}
input.form-control:focus, select.form-control:focus, textarea.form-control:focus{
    border-color: #007fff;
   
}
input.form-control.no-validate, select.form-control.no-validate, textarea.form-control.no-validate {
    border-color: #b41111;
}
form {
    padding: 5px;
}


/* My Classes */


.dialog{
    display:none;
}

.foot-page {
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #233C78;
    color: #FFF;
    text-align:center;
    font-size: 10pt;
    text-transform: uppercase;
    border-top: 2px solid #e6e6e7;
    z-index: 299;
}
.panel-flex {

    min-height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    background: #FFF;
    height: 100%;
    box-shadow: 1px 1px 10px #000;
    overflow-y: auto;
}

.lock-screen {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.lock-screen i, .lock-screen span {
    color: #007fff;
    position: absolute;
    left: 50%;
    top: 50%;
}
.required-data-label {
    color: #233C78;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
}
.btn-grid {
    width: 100%;
    font-size: 14pt;
    text-align:center;
    cursor: pointer;
    text-shadow: 2px 2px 3px #aaa;
    
    background: #eee;
    border: 1px solid #233C78;
}
    .btn-grid:hover {
        background: #FFF;
        box-shadow: 2px 2px 3px #aaa;
    }
.btn-grid.azul {
    color: #01579B;
}
.btn-grid.verde {
    color: #00C853;
}
.btn-grid.rojo {
    color: #D50000;
}
.btn-grid.amarillo {
    color: #FFC107;
}
.btn-grid.cafe{
    color: #795548;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
    cursor: default;
}

.panel-flex .no-results{
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: #aaa;
    margin-top: calc(100px + 18pt);
}
.redRow {
    background: #EF9A9A;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    color: #233C78;
}